.container
  %h2{ class: 'brackets' }Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name))do |f|
    .field
      = f.label :email, class: 'name1'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'card3'
    .field
      = f.label :password, class: 'name2'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'card4'
    .actions
    = f.button :submit, class: "signup-submit" do
      %span.submit submit
