<div>
    <div class="new-board">
        New Board
    </div>

    <!-- ここにエラー表示を追加 -->
    <% if @board.errors.any? %>
        <div class="errors">
        <ul>
            <% @board.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form_with(model: @board, url: boards_path, method: :post, local: true) do |f| %>
    <div>
        <%= f.label :tittle, 'Name', class: 'name' %>
    </div>
    <div>
        <%= f.text_field :tittle, class: 'card1'%>
    </div>
    <div>
        <%= f.label :description, 'Description', class: 'description'%>
    </div>
    <div>
        <%= f.text_area :description, class: 'card2'%>
    </div>
    <%= f.submit 'Submit', class: 'submit-btn' %>
    <% end %>
</div>